{deps,[
    {zotonic_mod_driebit_base,
        {git, "git@gitlab.driebit.nl:driebit/zotonic_mod_driebit_base.git",
            {ref, "master"}
        }
    },
    {zotonic_mod_driebit_edit,
        {git, "git@gitlab.driebit.nl:driebit/zotonic_mod_driebit_edit.git",
            {ref, "master"}
        }
    },
    {zotonic_mod_driebit_activity2,
        {git, "git@gitlab.driebit.nl:driebit/zotonic_mod_driebit_activity2.git",
            {ref, "master"}
        }
    },
    {zotonic_mod_sensitive,
        {git, "git@gitlab.driebit.nl:driebit/zotonic_mod_sensitive.git",
            {ref, "master"}
        }
    },
    {zotonic_mod_geomap,
        {git, "https://github.com/zotonic/zotonic_mod_geomap.git",
            {ref, "master"}
        }
    }
]}.
