%% Zotonic site configuration for kenniscloud.
[
 %% This site is enabled or not.
 {enabled, false},

 %% Hostname on which this site runs
 {hostname, "kenniscloud.docker.test"},
 {hostalias, ["kenniscloud.test"]},
 {redirect, false},

 {dbdatabase, "kenniscloud1"},

%% Depcache settings, maximum size in mbs
 {depcache_memory_max, 100},

%% Password for the 'admin' user.
 {admin_password, "admin"},

%% What skeleton site this site is based on; for installing the initial data.
 {skeleton, empty},

 {i18n, [
        {language, nl},
        {languages, [
            {nl, true},
            {en, false}
        ]}
    ]},

 %% Uncomment to override skeleton defaults
 %%{install_menu, []},

 %% Specific options
{modules,
  [
    mod_cron,
    mod_base,
    mod_bootstrap,
    mod_authentication,
    mod_content_groups,
    mod_acl_user_groups,
    mod_signup,
    mod_tkvstore,
    mod_wires,

    mod_admin,
    mod_search,
    mod_translation,
    mod_logging,
    mod_mqtt,

    mod_menu,
    mod_editor_tinymce,
    mod_seo,
    mod_seo_sitemap,
    mod_oembed,
    mod_filestore,

    mod_email_status,

    mod_admin_category,
    mod_admin_config,
    mod_admin_identity,
    mod_admin_modules,
    mod_admin_predicate,
    mod_admin_merge,
    mod_server_storage,

    mod_l10n,
    mod_artwork,
    mod_bootstrap,
    mod_video,
    mod_video_embed,
    mod_media_exif,
    mod_oauth2,

    mod_backup,

    mod_driebit_base,
    mod_driebit_edit,
    mod_image_edit,
    mod_driebit_search_page,

    mod_crowdlink,
    mod_crowdparticipant,
    mod_driebit_activity2,

    mod_cookie_consent,
    mod_geomap
]},

  %% Title of your site
  {title, <<"kenniscloud">>},

  %% Subtitle
  {subtitle, <<"KennisCloud CMS built with Zotonic">>}
 ].
