form#cookie-consent__form {
    background-color: $white;
}

.cookie-consent__upper {
    background-color: $greyLight;
    color: $typographyColor;
}

.cookie-consent-toggle {
    &::after {
        border-right: 2px solid $black;
        border-bottom: 2px solid $black;
    }
}

.cookie-consent__lower {
    background-color: $white;
    color: $typographyColor;
}

.cookie-options label:before {
    border: 2px solid $mainNavPagesColor;
}

.cookie-options input[type="checkbox"]:checked + label:before {
    background-color: $mainNavPagesColor;
}

.cookie-options-explanations {
    h3 {
        font-size: 1.6rem;
    }
}
