@include mq(min-width, 0) {
    %main-container {
        width: 95%;
        @include size(max-width, $containerMaxWidth);
        margin: 0 auto;
        position: relative;
    }
}

.main-container {
    @extend %main-container;
}

.main-container--related {
    margin-top: 30px;
}
