.keywords {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    font-family: $tertiaryFontFamily;

    .btn--secondary a {
        all: unset;
    }

    .btn--secondary {
        padding: 5px 15px;
        margin: 0 8px 8px 0;
        border-color: $white;
        font-size: $superSmallFont;
        color: $white;
        background: none;
        transition: all 0.2s;
        z-index: 12;

        &.is-active {
            color: $mainThemeColor;
            background: $white;
        }

        @include setInteractive {
            color: $mainThemeColor;
            background: $white;
        }
    }
}
