.kg-intro_status {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1rem;
    font-size: $superSmallFont;
    font-weight: 600;
    border: 2px solid;
    text-transform: uppercase;
    color: $white;
}

.kg-intro_status--preparation {
    border-color: $greenMint;
    background-color: rgba($greenMint, 0.6);

    &::before {
        background-image: url(/lib/images/preparation.svg);
    }
}

.kg-intro_status--meetup {
    border-color: $purpleLight; 
    background-color: rgba($purpleLight, 0.6);

    &::before {
        background-image: url(/lib/images/meetup.svg);
    }
}

.kg-intro_status--insights {
    border-color: $blueSky; 
    background-color: rgba($blueSky, 0.6);

    &::before {
        background-image: url(/lib/images/idea.svg);
    }
}

.kg-intro_status--discussion {
    border-color: $coral; 
    background-color: rgba($coral, 0.6);

    &::before {
        background-image: url(/lib/images/discussion.svg);
    }
}

.kg-intro_status--preparation,
.kg-intro_status--meetup,
.kg-intro_status--insights,
.kg-intro_status--discussion {
    &::before {
        content: "";
        width: 2rem;
        height: 2rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: block;
    }
}