[
	{"profile_avatar", [
        {width, 400},
        {height, 400},
        upscale,
        crop
    ]},
    {"avatar", [
        {width, 200},
        {height, 200},
        {crop, center},
        upscale
    ]},
    {"list-image", [
        {width, 450},
        {height, 350},
        {crop, center},
        {quality, 80},
        {lossless, auto},
        upscale
    ]},
    {"full-height-list-image", [
        {height, 350},
        {quality, 80},
        {lossless, auto},
        upscale
    ]},
    {"facebook-og", [
        {width, 950},
        {height, 500},
        {quality, 100},
        upscale
    ]},
    {"carousel-img", [
        {width, 250},
        {height, 250},
        upscale,
        {crop, center}
    ]},
    {"lightbox-img", [
        {width, 1600},
        {quality, 90}
    ]},
    {"landscape-", [
        {width, 970},
        {quality, 100}
    ]},
    {"landscape-large", [
        {width, 970},
        {quality, 100}
    ]},
    {"landscape-medium", [
        {width, 500},
        {quality, 100}
    ]},
    {"landscape-small", [
        {width, 250},
        {quality, 100}
    ]}
].
