@import 'collection.scss';
@import 'crowd.scss';
@import 'edit.scss';
@import 'home.scss';
@import 'indepth.scss';
@import 'knowledge-group.scss';
@import 'locations.scss';
@import 'methodology.scss';
@import 'person.scss';
@import 'project.scss';
@import 'region.scss';
@import '_search.scss';
