.text {
    .main-content {
        margin: 0;
    }

    .page-header.-text {
        margin-bottom: 0;
    }

    .summary {
        font-size: 2.5rem;
        font-weight: 500;
    }

    .body-text {
        font-size: 1.75rem;
    }
}
