.t--collection {
	.page-action--edit {
		max-width: 200px;
	}

    .page-intro {
        .summary {
            font-family: $mixFontFamily;
        }
    }

	.page-aside {
		-webkit-font-smoothing: antialiased;
	}
}
