%home-primary {
    display: block;
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
}

.t--home {
    background: none;

    .btn--primary {
        @extend %home-primary;
        margin: 0;

        &.-blue {
            display: inline-block;
            width: auto;
            margin: 0 5px 10px;
        }
    }

    .masthead--home {
        .btn--primary {
            margin: 20px 0 0 0;
        }
    }
}

.home-kg {
    padding: 30px 0;
    width: 95%;
    margin: 0 auto;

    @include breakpoint($largeBreakpoint) {
        position: relative;
        z-index: 100;
    }
}

.home-regions {
    padding: 3rem;
    width: 95%;
    max-width: $containerMaxWidth;
    margin: 2rem auto;
    border-radius: $borderRadius;
    background: $greyLight;

    .btn--primary.-blue:first-child {
        margin-left: 0;
    }

    @include breakpoint($largeBreakpoint) {
        padding: 5rem;
    }
}

.home-members__list {
    display: flex;
    gap: 1rem;
    margin-bottom: 6rem;
}
