.t--region {
    .kg-intro,
    .kg-intro__content {
        background: $grey;

        .keywords {
            li {
                .btn--secondary {
                    background: $greyDark;

                    @include setInteractive {
                        background: $greyDarker;
                    }
                }
            }
        }
    }

    .person-list {
        .btn--primary {
            margin: 0;
        }
    }
}

.region-members {
    margin-top: 20px;
}
